@charset 'utf-8';

#header {
    /* background: #ff5; */
    width: 160.3rem;
    height: 5.6rem;
    margin: 3.8rem 18rem 5.1rem 13.7rem;
}

#header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gnb {
    display: flex;
    gap: 5rem;
}

.gnb li a {
    font-weight: 600;
    font-size: 2rem;
    display: block;
    color: #000;
    padding: 2rem;
}

.gnb li a:hover {
    color: var(--main-color);
}

.util-menu {
    display: flex;
    align-items: center;
    gap: 4.8rem;
}

.search-wrap .input {
    font-weight: 400;
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.5);
    /* border-bottom: 2px solid #000; */
}

.search-wrap button {
    width: 3rem;
    height: 3rem;
    gap: 4.8rem;
    background: #fff;
    cursor: pointer;
}

/* login, shop 버튼 뒷 배경 하얀색으로 */
.util-menu .btn-login {
    background: #fff;
    cursor: pointer;
}

.util-menu .btn-shop {
    background: #fff;
    cursor: pointer;
}

.visual {
    width: 100%;
    height: 100%;
    /* background: orange; */
    position: relative;
    overflow: hidden;
}

.visual-slider .swiper-slide {
    width: 100%;
    height: 100%;
}

.visual-slider .swiper-slide figure {
    width: 100%;
    height: 100%;
    margin: 0;
}

.visual-slider .swiper-slide figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.visual-slider .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent; /* 배경 회색 -> 투명하게 */
    width: 3rem;
    height: 6rem;
}

.visual-slider .btn-prev {
    left: 10px;
}

.visual-slider .btn-next {
    right: 10px;
}

.icons-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17.7rem;
}

.icons-list li {
    width: 47rem;
    height: 24rem;
    padding: 13rem 5.5rem;
}

.icons-list li::before {
    content: "";
    display: block;
    /* width: 8rem; */
    height: 8rem;
    background: no-repeat 50%;
    cursor: pointer;
}

.icons-list li:nth-child(1)::before {
    background-image: url(../images/icons_delivery.png);
}
.icons-list li:nth-child(2)::before {
    background-image: url(../images/icons_present.png);
}
.icons-list li:nth-child(3)::before {
    background-image: url(../images/icons_order.png);
}

.icons-list li a p {
    font-weight: 600;
    font-size: 2.4rem;
    margin-top: 2rem;
    text-align: center;
}

.menu .inner {
    width: 186.2rem;
    height: 100.2rem;
    /* background: skyblue; */
    margin: 0 auto;
    margin-top: 17.7rem;
    text-align: center;
}

.sec-title {
    font-weight: 600;
    font-size: 4.5rem;
    color: #000;
}

.tab-menu {
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    gap: 2.1rem;
    justify-content: center;
    cursor: pointer;
    margin-top: 2.8rem;
}
.tab-menu a {
    border-radius: 5px;

    background: #f5f5f5;
    padding: 1rem 2rem;
}

.tab-menu .active {
    width: 12rem;
    height: 5rem;
}

.tab-menu a:hover {
    background: #da1a32;
    color: #fff;
}

.menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5.7rem;
    gap: 4.9rem;
}

.menu-list figure img {
    width: 35rem;
    height: 35rem;
    border-radius: 0.5rem;
    transition: 0.4s;
}

.menu-list figure img:hover {
    width: 55rem;
    height: 55rem;
    font-size: 4rem;
}

.menu-list li p {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 4.4rem;
}

.btn-more {
    font-weight: 600;
    font-size: 2rem;
    /* margin-top: 7.6rem;
    width: 20.7rem;
    height: 6rem; */
    border-radius: 5px;
    background: #da1a32 url(../images/ico_more.svg) no-repeat 50%;
}

.brand .inner {
    width: 185.3rem;
    height: 84.8rem;
    margin: 0 auto;
    /* background: green; */
    margin-top: 2.9rem;
    text-align: center;
}

/* .brand .inner p {
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 0.6rem;
} */

.brand-list {
    display: flex;
    margin-top: 9.2rem;
    gap: 6.2rem;
    justify-content: center;
    align-items: center;
}

.brand-list-item {
    border: 1px solid #da1a32;

    /* 이게 맞는지?   border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;*/
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;

    width: 46rem;
    height: 47.6rem;
}

.brand-list-item h3 strong {
    font-weight: 800;
}

.brand-list-item h3 {
    /* 이게 맞는지?   border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;*/
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    width: 46rem;
    height: 7.8rem;
    padding: 2rem 2rem;

    background: #da1a32;
    font-size: 2.8rem;
    color: #fff;
}

.brand-list-item p {
    font-weight: 500;
    line-height: 1.4;
    font-size: 2.1rem;
    color: #666;
    margin-top: 4.8rem;
}
.brand-list-item p + em {
    font-weight: 500;
    font-size: 1.5rem;
    color: rgba(102, 102, 102, 0.8);
    margin-top: 1.5rem;
}

.brand-list-item figure {
    overflow: hidden;
    margin-top: 3.2rem;
}

.brand-list-item figure img {
    width: 46rem;
    height: 26rem;
    object-fit: cover;
}

.notice .inner {
    width: 182.1rem;
    height: 104.2rem;
    margin: 0 auto;
    /* background: purple; */
    margin-top: 18.9rem;
    text-align: center;
}

.notice-list {
    display: flex;
    margin-top: 6.2rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.notice-list-item {
    width: 54.4rem;
    height: 56.6rem;
    background: #f5f5f5;
    border-radius: 5px;
}
.notice-list-item figure img {
    width: 54.4rem;
    height: 38.8rem;
    object-fit: cover;
    border-radius: 5px;
}

.notice-list-item dl {
    margin-top: 3.1rem;
    padding: 2rem 1rem;
}
.notice-list-item dl dt {
    font-size: 2.3rem;
    font-weight: 500;
}

.notice-list-item dl dd {
    margin-top: 3rem;
    text-align: right;
    padding: 2rem 2rem;
}

#footer {
    display: flex;
    background: #363636;
    width: 192rem;
    height: 33.9rem;
    margin-top: 10.9rem;
    padding: 2.9rem 0;
}

#footer .inner {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    gap: 12.7rem;
}

.foot-logo {
    width: 18.1rem;
    height: 3.2rem;
}

.foot-link-list {
    display: flex;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.4;
    justify-content: space-between;
    gap: 3.7rem;
    color: #bbbbbb;
}

.foot-con-list {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.4;
    margin-top: 2.9rem;
}

.foot-con-list p {
    font-weight: 500;
    font-size: 1.6rem;
    color: #bbbbbb;
}

.copyright {
    margin-top: 2.9rem;
    font-weight: 500;
    font-size: 1.5rem;
    color: #bbbbbb;
}

.foot-link li a {
    font-weight: 500;
    font-size: 1.6rem;
    color: #bbbbbb;
}

.foot-sns-list {
    display: flex;
    gap: 1.6rem;
}

.foot-sns-list {
    display: flex;
    gap: 1.6rem;
}

.foot-sns-list li a {
    /* border: 1px solid #fff; */

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    width: 5rem;
    height: 5rem;
}

.foot-sns-list li a i {
    font-size: 5rem;
}

/* 해야할 거 */
/* 메인비주얼 ... 이거 넣기 */
/* gnb 호버했을 때 메뉴 나오는 거 */
/* 메뉴, 브랜드 소개, 피자헛 소식 슬라이더 형식?으로 */
/* 메뉴 더보기 */
/* 브랜드 소개 부분 위만 호버했을 때 올라가도록? 아니면 그냥 호버헀을 때 커지도록 */
/* 피자헛 소식도 호버했을 때 커지도록 */
/* footer 상단 맞추는 법 */
