@charset 'utf-8';

#header {
    /* background: #ff5; */
    width: 160.3rem;
    height: 5.6rem;
    margin: 3.8rem 18rem 5.1rem 13.7rem;
}

#header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gnb {
    display: flex;
    gap: 5rem;
}

.gnb li a {
    font-weight: 600;
    font-size: 2rem;
    display: block;
    color: #000;
    padding: 2rem;
}

.gnb li a:hover {
    color: var(--main-color);
}

.util-menu {
    display: flex;
    align-items: center;
    gap: 4.8rem;
}

.search-wrap .input {
    font-weight: 400;
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.5);
    /* border-bottom: 2px solid #000; */
}

.search-wrap button {
    width: 3rem;
    height: 3rem;
    gap: 4.8rem;
    background: #fff;
    cursor: pointer;
}

/* login, shop 버튼 뒷 배경 하얀색으로 */
.util-menu .btn-login {
    background: #fff;
    cursor: pointer;
}

.util-menu .btn-shop {
    background: #fff;
    cursor: pointer;
}

.visual {
    width: 100%;
    height: 100%;
    /* background: orange; */
    position: relative;
    overflow: hidden;
}

.visual-slider .swiper-slide {
    width: 100%;
    height: 100%;
}

.visual-slider .swiper-slide figure {
    width: 100%;
    height: 100%;
    margin: 0;
}

.visual-slider .swiper-slide figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.visual-slider .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent; /* 배경 회색 -> 투명하게 */
    width: 3rem;
    height: 6rem;
}

.visual-slider .btn-prev {
    left: 10px;
}

.visual-slider .btn-next {
    right: 10px;
}

.icons-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17.7rem;
}

.icons-list li {
    width: 47rem;
    height: 24rem;
    height: 38rem;
    padding: 13rem 5.5rem;
}

.icons-list li::before {
    content: "";
    display: block;
    /* width: 8rem; */
    height: 8rem;
    background: no-repeat 50%;
    cursor: pointer;
}

.icons-list li:nth-child(1)::before {
    background-image: url(../images/icons_delivery.png);
}
.icons-list li:nth-child(2)::before {
    background-image: url(../images/icons_present.png);
}
.icons-list li:nth-child(3)::before {
    background-image: url(../images/icons_order.png);
}

.icons-list li:hover {
    background: var(--main-color);
}

.icons-list li:hover a {
    color: #fff;
}
.icons-list li:hover:nth-child(1)::before {
    background-image: url(../images/icons_delivery-white.png);
}
.icons-list li:hover:nth-child(2)::before {
    background-image: url(../images/icons_present_white.png);
}
.icons-list li:hover:nth-child(3)::before {
    background-image: url(../images/icons_order_white.png);
}

.icons-list li a p {
    font-weight: 600;
    font-size: 2.4rem;
    margin-top: 2rem;
    text-align: center;
}

.menu .inner {
    width: 186.2rem;
    height: 100.2rem;
    /* background: skyblue; */
    margin: 0 auto;
    margin-top: 17.7rem;
    text-align: center;
}

.sec-title {
    font-weight: 600;
    font-size: 4.5rem;
    color: #000;
}

.tab-menu {
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    gap: 2.1rem;
    justify-content: center;
    cursor: pointer;
    margin-top: 2.8rem;
}
.tab-menu a {
    border-radius: 5px;

    background: #f5f5f5;
    padding: 1rem 2rem;
}

.tab-menu .active {
    width: 12rem;
    height: 5rem;
}

.tab-menu a:hover {
    background: var(--main-color);
    color: #fff;
}

.menu-slider .swiper-slide {
    width: 100%;
    height: 100%;
}

.menu-slider .swiper-slide figure {
    width: 100%;
    height: 100%;
    margin: 0;
    /* background: #000; */
}

.menu-slider .swiper-slide figure img {
    width: 35rem;
    height: 35rem;
    object-fit: cover;
    /* object-position: center; */
}

.menu-slider .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent; /* 배경 회색 -> 투명하게 */
    width: 3rem;
    height: 6rem;
}

.menu-slider .btn-prev {
    left: 10px;
}

.menu-slider .btn-next {
    right: 10px;
}

.menu-list {
    margin-top: 5.7rem;
}

/* .menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5.7rem;
    gap: 4.9rem;
} */

.menu-list figure img {
    width: 35rem;
    height: 35rem;
    border-radius: 0.5rem;
    transition: 0.4s;
    transform: scale(0.9);
}

/* 활성화가 되는 것도 이미지가 커지고, 호버했을 때도 이미지가 커지게 할 때  */
.menu-list .swiper-slide-active figure img,
.menu-list figure img:hover {
    transform: scale(1);
    font-size: 4rem;
}

.menu-list li p {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 4.4rem;
}

.btn-more {
    font-weight: 600;
    font-size: 2rem;
    margin-top: 7.6rem;
    width: 20.7rem;
    height: 6rem;
    display: inline-block;
    padding: 1.6rem 3.3rem;
    border-radius: 5px;
    background: var(--main-color);
    color: #fff;
    /* position: relative; */
}

.brand-list {
    margin-top: 9.2rem;
    position: relative;
    /* border: 10px solid #000; */
}

.brand-list .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent; /* 배경 회색 -> 투명하게 */
    width: 3rem;
    height: 6rem;
}

.brand-list .btn-prev {
    left: -100px;
}

.brand-list .btn-next {
    right: -100px;
}

.brand-slider .swiper-slide {
    border: 1px solid var(--main-color);
    border-radius: 2rem;
    overflow: hidden;
}

.brand-slider .swiper-slide h3 {
    padding: 2rem;
    background: var(--main-color);
    font-size: 2.8rem;
    color: #fff;
}

.brand-slider .swiper-slide h3 strong {
    font-weight: 800;
}

.brand-slider .swiper-slide p {
    font-weight: 500;
    line-height: 1.4;
    font-size: 2.1rem;
    color: #666;
    margin-top: 4.8rem;
}

.brand-slider .swiper-slide p + em {
    font-weight: 500;
    font-size: 1.5rem;
    color: rgba(102, 102, 102, 0.8);
    margin-top: 1.5rem;
}

.brand-slider .swiper-slide figure {
    overflow: hidden;
    margin-top: 3.2rem;

    width: 100%;
    height: 26rem;
}

.brand-slider .swiper-slide figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.notice {
    margin-top: 18.9rem;
}

.notice-list {
    margin-top: 6.2rem;
}

.notice-slider .swiper-slide {
    border: 1px solid #000;
    overflow: hidden;
}

.notice-slider .swiper-slide figure {
    overflow: hidden;
    margin-top: 3.2rem;
    width: 100%;
    height: 38.8rem;
}

.notice-slider .swiper-slide figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .notice-list {
    margin-top: 6.2rem;
    border: 10px solid #000;
}

.notice-slider .swiper-slide {
    border: 1px solid #000;
} */

.notice-slider .swiper-slide dl {
    padding: 0 3rem;
}

.notice-slider .swiper-slide dl dt {
    font-weight: 500;
    font-size: 2.3rem;
}

.notice-slider .swiper-slide dl dt dd {
    font-weight: 500;
    font-size: 1.8em;
}

#footer {
    display: flex;
    background: #363636;
    width: 192rem;
    height: 33.9rem;
    margin-top: 10.9rem;
    padding: 2.9rem 0;
}

#footer .inner {
    display: flex;
    margin: 0 auto;
    /* justify-content: space-between; */
    gap: 12.7rem;
    padding: 6.7rem 0;
}

.foot-logo {
    width: 18.1rem;
    height: 3.2rem;
}

.foot-link-list {
    display: flex;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.4;
    justify-content: space-between;
    gap: 3.7rem;
    color: #bbbbbb;
}

.foot-con-list {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.4;
    margin-top: 2.9rem;
    /* gap: 10.2rem; */
}

.foot-con-list p {
    display: flex;
    gap: 10.2rem;
    font-weight: 500;
    font-size: 1.6rem;
    color: #bbbbbb;

    /* flex-wrap: wrap; */
}

.copyright {
    margin-top: 2.9rem;
    font-weight: 500;
    font-size: 1.5rem;
    color: #bbbbbb;
}

.foot-link li a {
    font-weight: 500;
    font-size: 1.6rem;
    color: #bbbbbb;
}

.foot-sns-list {
    display: flex;
    gap: 1.6rem;
}

.foot-sns-list {
    display: flex;
    gap: 1.6rem;
}

.foot-sns-list li a {
    /* border: 1px solid #fff; */

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    width: 5rem;
    height: 5rem;
}

.foot-sns-list li a i {
    font-size: 5rem;
}

.sidebar {
    font-weight: 800;
    font-size: 1.8rem;
    display: inline-block;
    width: 13rem;
    height: 28rem;
    /* border: 4px solid orange; */
    border-radius: 77.5rem;
}

.sidebar-list li {
    color: #fff;
    /* border: 10px solid green; */
    background: var(--main-color);
    width: 13rem;
    height: 13rem;
    border-radius: 77.5rem;
    padding: 2.6rem 3.3rem;
    /* gap: 2rem; */
    margin-top: 2rem;

    /* position: absolute;
    top: 3500px;
    right: 60px; */
}

.sidebar-list li::before {
    content: "";
    display: block;
    /* width: 8rem; */
    height: 5rem;
    background: no-repeat 50%;
    cursor: pointer;
    /* border: 1px solid #000; */
}

.sidebar-list li:nth-child(1)::before {
    background-image: url(../images/sidebar_shop.png);
}

.sidebar-list li:nth-child(2)::before {
    background-image: url(../images/sidebar_customer.png);
}

/* 해야할 거 */
/* 메인비주얼 ... 이거 넣기 */
/* gnb 호버했을 때 메뉴 나오는 거 */
/* 메뉴, 브랜드 소개, 피자헛 소식 슬라이더 형식?으로 */
/* 메뉴 슬라이더 갭 줄이기 */
/* 메뉴 더보기->호버하면 왜 글씨가 사라지는지? */
/* 사이드바 gap이 어디로? , 사이드바 옆으로 가는 법? */
/* footer 글 밑으로 내려가게 */
